<!-- Describe task in general -->

<p>
    A given {% if is_js %}Array{% else %}list{% endif %} should be "compressed"
    in a way so, instead of two (or more) equal elements, staying one after another,
    there should be only one in the result {% if is_js %}Array{% else %}Iterable (list, tuple, iterator ...){% endif %}.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> {% if is_js %}Array{% else %}List{% endif %}.
</p>

<p>
    <strong>Output:</strong> "Compressed" {% if is_js %}Array{% else %}Iterable (list, tuple, iterator ...){% endif %}.
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
